
.products-grid-top {
  display: grid;
  margin-left: 5rem;
  margin-right: 12rem;
  grid-template-columns: repeat(8, 1fr);
}

.products-grid {
  display: grid;
  margin-left: 5rem;
  margin-right: 5rem;
  grid-template-columns: repeat(8, 1fr);
}

.product-content {
  margin-top: 18rem;
  margin-bottom: 16.9rem;
}

.product-box,
.product-box-checkout {
  position: relative;
  background-color: transparent;
  border: 1px solid #f26522;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 0;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-box:hover {
  background-color: #f26522;
  border: none;
  box-shadow: 0 8px 32px hsla(0.75, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-box-light {
  min-width: 18rem;
  position: relative;
  background-color: #151515;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 0;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-box-light:hover {
  background-color: #f26522;
  border: none;
  box-shadow: 0 8px 32px hsla(0.75, 0.82, 0.165, 1);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-img {
  width: 100%;
  height: stretch;
  border-radius: 2px;
}

@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1350px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1100px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 2000px) {
  .products-grid-top {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid-top {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1350px) {
  .products-grid-top {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1100px) {
  .products-grid-top {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid-top {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 575px) {
  .products-grid-top {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid-top {
    grid-template-columns: 1fr;
  }
}
